# Dotnet ignores
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

# Node ignores
**/node_modules/
**/dist/
**/.next/
**/*.tsbuildinfo
.env
.env.local
.env.production
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local SQLite runtime database
**/golbox.db
**/golbox.db-*
